{% extends "ASP_app/base.html" %}



{% block content %}

    {% if orders %}
        <table width="80%">
            <tr>
                <th><u>Order No.</u></th>
                <th><u>Clinic</u></th>
                {% if user.role == "Warehouse Personnel" %}
                    <th><u>PDF</u></th>
                {% endif %}
                <th><u>Status</u></th>
                <th><u>Weight</u></th>
                <th><u>Order Time</u></th>
                <th><u>Dispatch Time</u></th>
                <th><u>Confirm delivery</u></th>
                <th><u>Cancel Order</u></th>
            </tr>
        {% for order in orders %}
            {% if order.status != "Delivered" %}
                {% if order.destination == request.user.clinic %}
                  <tr style="font-weight: normal;">
                      <th style="font-weight: normal;">{{ order.pk }} </th>
                      <th style="font-weight: normal;">{{ order.destination }} </th>
                      <th style="font-weight: normal;">{{ order.status }}</th>
                      <th style="font-weight: normal;">{{ order.totalWeight }} kg</th>
                      <th>{{order.orderTime}}</th>
                      <th>{{order.dispatchTime}}</th>
                      <th></th>
                      <th>
                          {% if order.status == "Dispatched" %}
                            <form action="/orderStatus/" method="post">
                                {% csrf_token %}
                                <input type="Hidden" value={{order.id}} name="ordID">
                                <input type="hidden" value="Delivered" name="choice">
                                <input type="submit" value="Delivered">
                            </form>
                          {% endif %}
                      </th>
                      <th>
                          {% if order.status == "Queued for Processing" or order.status == "Incomplete"  %}
                            <form action="/cancelOrder/" method="post">
                                {% csrf_token %}
                                <input type="Hidden" value={{order.id}} name="orderID">
                                <input type="hidden" value="CANCEL" name="cancel">
                                <input type="submit" value="Cancel order">
                            </form>
                          {% endif %}
                      </th>
                  </tr>
                {% endif %}
            {% endif %}
        {% endfor %}
        </table>
    {% else %}
        <p>No orders are available.</p>
    {% endif %}

{% endblock %}
