{% extends "ASP_app/base.html" %}

{% block content %}

    <h1>User Profile</h1>

    {% if users %}
        {% for user in users %}
            {% if True %}
            <table>
                <td>Your username is : {{ user.username }} </td>
                <tr>
                <td>Change username to <form action=""><input type="text" name="username" ></form></td>
                </tr>
                <tr>
                <td>Change Password <form action="changepwd"><input type="textarea" name="pwd"</form></td>
                </tr>
                <tr>
                <td>Confirm Password <form action="changepwd"><input type="textarea" name="pwd"</form></td>
                </tr>
                <tr></tr>

                <td>{{ user.email }}</td>
                <tr></tr>
                <th><button> Submit  <form type="submit"> </button></th>
            </table>
            {% endif %}
        {% endfor %}
    {% endif %}

{% endblock %}
